<% content_for :page_title, @post.title %>
<section class="section">
  <div class="container">
    <div class="field">
      <nav class="level">
        <div class="level-left">
          <p class="level-item">
            <strong>Actions</strong>
          </p>
        </div>
        <div class="level-right">
          <p class="level-item">
            <%= link_to "Edit", edit_post_path(@post), class:"button" %>
          </p>
          <p class="level-item">
            <%# <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class:"button is-danger" %>
            <%# <a class="button is-danger">Delete</a> %>
            <%= button_to 'Delete', post_path(@post), method: :delete, :onclick => "return confirm('Are you sure?')", class:"button is-danger" %>
          </p>
        </div>
      </nav>
    </div>
  </hr>
  <div class="content">
    <%= @post.content %>
  </div>
</div>
</section>
<section class="section comments">
  <div class="container">
    <h3 class="subtitle is-5"> <strong> <%= @post.comments.count %> Comments</strong> </h3>
    <%= render @post.comments %>
    <div class="comment-form">
    </hr>
    <h3 class="subtitle is-3">
      <strong>Leave a comment</strong>
      <%= render 'comments/form' %>
    </h3>
  </div>
</div>
</section>
<div class="container">
  <div class="field">
    <div class="control">
      <a href="/posts" class="button is-primary">Back to all posts</a>
    </div>
  </div>
</div>
